.footer {
  padding: 0 85px;
  margin-top: 225px;
  &-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__email {
      text-align: left;
      width: 50%;
      padding-right: 100px;
      span {
        font-size: 25px;
      }
      p {
        margin-top: 25px;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.5px;
      }
    }

    &__manipulation {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      button {
        cursor: pointer;
        background: linear-gradient(
          93.1deg,
          #54ffff 4.17%,
          #23ffca 35.68%,
          rgba(84, 255, 255, 0.71) 111.04%
        );
        border-radius: 28px;
        padding: 19px 40px;
        margin-right: 50px;
      }
    }

    &__input {
      border-radius: 40px;
      background-color: #fff;
      width: 320px;
      height: 56px;
      position: relative;
      background-image: linear-gradient(180deg, #0fe3e3 0%, #c9ddf0 100%);
      input {
        position: absolute;
        top: 0.75px;
        left: 0.75px;
        padding-left: 25px;
        width: 318px;
        height: 54px;
        border-radius: inherit;
        background-color: #020e16;
        // background-color: red;
        outline: none;
        border: none;
        color: #54ffff;
        caret-color: #54ffff;
        font-weight: 300;
        &::placeholder {
          color: #fff;
          font-weight: 400;
          background: linear-gradient(180deg, #0fe3e3 0%, #c9ddf0 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }

    &__social {
      width: 40%;
      text-align: left;
      span {
        font-size: 25px;
      }
    }

    &__list {
      margin-top: 25px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      flex-direction: row;
      column-gap: 15px;
    }

    &__icon {
      width: 50px;
    }
  }
}

.footer {
  &-desc {
    margin-top: 90px;
    &__line {
      height: 1px;
      width: 100%;
      background-image: linear-gradient(180deg, #0fe3e3 0%, #0fe3e3 100%);
    }

    &__container {
      margin-top: 65px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__left {
      width: 30%;
      span {
        font-size: 20px;
        font-weight: 500;
      }

      p {
        display: inline-block;
        margin-top: 28px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #dafdfc;
      }
    }

    &__right {
      width: 70%;
      padding-left: 85px;
      display: grid;
      span {
        background: linear-gradient(180deg, #0fe3e3 0%, #c9ddf0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
        margin-bottom: 35px;
        font-weight: 500;
        font-size: 18px;
      }
      li {
        margin-bottom: 19px;
        font-weight: 300;
      }
      grid-template-areas:
        "l1 l2 l3 l4"
        "l1 .  l3 l4"
        "l1 l5 l3 l4"
        "l1 .   .  .";
    }

    &__menu:first-child {
      grid-area: l1;
    }

    &__menu:nth-child(2) {
      grid-area: l2;
    }
    &__menu:nth-child(3) {
      grid-area: l3;
    }

    &__menu:nth-child(4) {
      grid-area: l4;
    }

    &__menu:nth-child(5) {
      margin-top: 80px;
      grid-area: l5;
    }

    &__policy {
      margin-top: 32px;
      padding-bottom: 32px;
      text-align: right;
      font-size: 12px;
      font-weight: 300;
      span {
        margin-left: 30px;
      }
    }
  }
}
